<html>
<head>
	<title>Skeleton Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/style2.css" rel="stylesheet">

</head>
<body>
	<div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <dialog id="window">
    <h3>Customize how you are awoken!</h3>
    <p>On this page input the data that you want read outloud to you after your alarm goes off in the morning!</p>
    <button id="exit">Close Dialog</button>

</dialog>
<button id="show">About Me</button>
    <div class="jumbotron">
      <h1 align=center>Good Evening!</h1>



		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/introHCI.css" rel="stylesheet">


    <!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
    <!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
    <!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->


  <!-- /{{#each pages}}
	<div class="page" id="{{id}}">
		<a href="page/{{name}}" class="thumbnail">
      <p>{{name}}</p>
    </a>
		<hr />
	</div>
  {{/each}}
   -->

  <div class="page" id="page1">
      <a href="schedule" class="thumbnail">
        <p align=center>Schedule</p>
      </a>
    </div>

    <div class="page" id="page2">
      <a href="weather" class="thumbnail">
        <p align=center>Weather</p>
      </a>
    </div>

    <div class="page" id="page3">
      <a href="affirmation" class="thumbnail">
        <p align=center>Affirmation</p>
      </a>
    </div>

  <div class="page" id="page4">
      <a href="savedRecap" class="thumbnail">
        <p align=center>Saved Recaps</p>
      </a>
    </div>

    <div class="page" id="page5">
      <a href="alarm" class="thumbnail">
        <p align=center>Alarm</p>
      </a>
    </div>

		<div class="page" id="page6">
      <a href="/" class="thumbnail">
        <p align=center><font color="red">Log Out</p>
      </a>
    </div>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script2.js"></script>
<script src="/js/schedule.js"></script>
<script src="/js/addName.js"></script>
<script src="/js/facebook.js"></script>

</body>
</html>
